* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer'
    ;

}

body header{
    background-color: blue;
    grid-area: header;
    text-align: center;
    position: sticky;
    top: 0%;
    height: 40px;
    z-index: 1;
}

body aside{
    background-color: yellow;
    grid-area:aside;
    position: sticky;
    top: 40px;
    z-index: 0;

}

body main{
    background-color: green;
    flex-direction: column;
    grid-area:main;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 24px;


}

aside nav{
    position: fixed;
}

body section{
    background-color: black;
    flex-direction: line;
    width: 300px;
    height: 200px;
}

body footer{
    background-color: rebeccapurple;
    grid-area:footer;
}