@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Karantina', cursive; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 300vh;
}

header {
    width: 100%;
    height: 100px;
    background-color: #edfd06;
    position: fixed;
    top: 0px;          
}
.logo{
    position: relative;
    width: 80px;
    top: 10px;
    z-index: 100;
    size: 100%;
    text-align: left;
}

.cabeçalho{
    position: relative;
    bottom: 50px;
    text-align: center; 
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    
}

.cabeçalho a{
    margin: 20px;  
}

.login a{
    position: relative;
    left: 95%;
    padding: 10px;
    bottom: 60px;
    font-size: 25px;
    font-family: 'Karantina', cursive;
}

.login img{
    position: absolute;
    left: 95%;
    padding: 0px;
    bottom: 30px;
    width: 55px;
    border: solid 3px;
    
}

.banner img {
    width: 600;
    height: 300;
    display: flex;
    flex-wrap: wrap;  
       
}
.position{
    position: fixed;
    top: 100px;
}


